<div class="row" *ngIf="exibirCabecalho" style="margin-top: -5px;">

    <div #container class="col-sm-12">
        <div #autocompleteEquipe id="autocomplete-equipe" style="display: inline;">
            <span>&nbsp;&nbsp;</span>
            <label class="label-inicio" style="margin-top: 0px !important; margin-left: 0px !important; margin-bottom: 0px !important; margin-right: -3px !important;">Equipe:</label>
            <eprocesso-autocomplete
                width="345px"
                [autocomplete]="equipes"
                [permiteLimpar]="false"
                atributo="siglaHierarquia"
                placeholder="Selecione uma equipe"
                [itemSelecionado]="equipeSelecionada"
                (itemSelecionadoChange)="equipeSelecionada = $event; ativarSelecaoEquipe()">
            </eprocesso-autocomplete>

            <button class="btn-atualizar" style="vertical-align: middle;" title="Atualizar equipes" tooltip-placement="left" (click)="atualizarEquipes()"></button>
        </div>
        <div #checkExibirTodas id="check-exibir-todas" *ngIf="!caixaTrabalhoUsuario" style="display: inline;">
            <label class="label-check" style="margin: 0px !important; color: black;" title="Ao selecionar essa opção, além das equipes que você é membro, também serão exibidas as equipes hierarquicamente abaixo das equipes que você é supervisor.">
                <input type="checkbox" style="margin: 0px !important; vertical-align: middle; position: relative;top: -1px;" [(ngModel)]="exibirTodasEquipes" (change)="obterEquipes()"/>
                Exibir todas
            </label>
        </div>
        <!-- <span style="color: #E3912E; font-weight: bold; margin: 0 -6px;">&nbsp;|&nbsp;</span> -->
        <div #checkSemAgrupamento id="check-sem-agrupamento" *ngIf="!inibirControlesCabecalho" style="display: inline;">
            <label class="label-check" style="margin: 0px !important; color: black;" title="Não agrupar processos por atividade">
                <input type="checkbox" style="margin: 0px !important; vertical-align: middle; position: relative;top: -1px;" [(ngModel)]="semAgrupamento" (change)="obterAtividades()" />
                Sem agrupamento
            </label>
        </div>
        <div #checkExibirApensados id="check-exibir-apensados" *ngIf="!inibirControlesCabecalho" style="display: inline;">
            <label class="label-check" style="margin: 0px !important" style="margin: 0px !important; color: black;">
                <input type="checkbox" style="margin: 0px !important; vertical-align: middle; position: relative;top: -1px;" [(ngModel)]="exibirApensados" (change)="obterAtividades()">
                Exibir apensados
            </label>
        </div>
        <!-- <span style="color: #E3912E; font-weight: bold; margin: 0 -6px;">&nbsp;|&nbsp;</span> -->
        <div #autocompleteFiltro id="autocomplete-filtro" *ngIf="!inibirControlesCabecalho" style="display: inline; float: right;">
            <label class="label-separador" style="margin-top: 0px !important; margin-left: 0px !important; margin-bottom: 0px !important; margin-right: -3px !important;">Filtro:</label>
            <eprocesso-autocomplete
                width="195px"
                [autocomplete]="filtros"
                [permiteLimpar]="false"
                atributo="nome"
                [itemSelecionado]="filtroSelecionado"
                (itemSelecionadoChange)="filtroSelecionado = $event; ativarSelecaoFiltro()">
            </eprocesso-autocomplete>
            <button class="btn-editar" style="vertical-align: middle;" title="Definir/Editar filtro" tooltip-placement="right" (click)="editarFiltro()"></button>
        </div>
    </div>
</div>