<table class="tabela-caixa">
  <tr>
    <td>
      Equipe:
    </td>
    <td>
      <select name="filtro" ngValue="filtroSelecionado" class="form-control">
          <option ngValue="null">Selecione</option>
          <option *ngFor="let filtro of filtros" ngValue="filtro">{{filtro.nome}}</option>		
        </select>
    </td>
    <td>
      <button class="btn-pause" tooltip="Atualizar" tooltip-placement="left" ng-click=""></button>
    </td>
    <td>
      <input type="checkbox" ><label>Exibir todas as equipes</label>
    </td>
    <td>
      <label>Exibir processos:</label><input type="radio" >Por atividade <input type="radio" >Sem agrupamento
    </td>
    <td>
      Filtro:
    </td>
    <td>
      <select name="filtro" [(ngModel)]="filtroSelecionado" class="form-control">
        <option [ngValue]="null">Sem filtro</option>  
        <option *ngFor="let filtro of filtros" [ngValue]="filtro">{{filtro.nome}}</option>		
      </select>
    </td>
    <td>
      <button class="btn-editar" tooltip="Editar" tooltip-placement="right" ng-click=""></button>
    </td>
     
  </tr>
</table>



