@import "../shared/components/dsgovbr/base/dsgovbr-icon.scss";
@import "../shared/components/dsgovbr/base/dsgovbr-margin.scss";

.label-inicio {
  padding-left: 30px;
  display: inline;
}

.combo-box {
  display: inline;
  padding-left: 10px;
}

.label-separador {
  padding-left: 60px;
}

.label-check {
  padding-left: 5px;
}

.menu-caixa-trabalho {
  position: absolute;
  top: 107px;
  right: 38px;
}

.label-vermelho {
  color: red;
}
.label-amarelo {
  color: yellow;
}
.label-verde {
  color: green;
}

.tabela-caixa {
  border: 1px solid black;
}

.row-accordion {
  margin: 5px;
}

.label-accordion {
  padding-left: 20px;
  background-color: #d1e5ef;
  width: 100%;
  height: 25px;
  cursor: pointer;
  color: #3b7ebf;
  font-size: 10.5pt;
  font-weight: 700;
  padding-top: 2px;
}

div#modal-div-horas-estimadas {
  overflow: auto;
  margin-top: 15px;

  table#modal-table-horas-estimadas {
    white-space: nowrap;
    position: relative;

    td {
      padding: 2px 8px;
    }
  }
}
div#modal-div-juntados-apensacao {
  overflow: auto;
}

button.tooltipPrioridade > span {
  min-width: 200px;
}

div#div-atividades-processos {
  div.localizador-processo {
    display: table;
    margin-bottom: 3px;
    float: right;
    margin-right: 5px;
    width: calc(100% - 10px);
    height: 26px;

    * {
      display: table-cell;
    }

    input#inputLocalizadorCaixa {
      height: 22px !important;
      width: 30%;
      float: right;
      margin-right: 2px;
      margin-top: 2px;
    }
  }
}

button.btn-aplicar-filtro {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 2px;
  margin-bottom: 6px;
}

.icon {
  color: var(--interactive-light);
  width: 16px;
  height: 16px;
  border: none;
  outline: 0;
}

.icon-not-clickable{
  cursor: default !important;
}

.btn-icon {
  border: none;
  background: transparent;
  padding: 0;
  width: 24px;
  cursor: pointer;
}