<br />
<ngb-tabset (tabChange)="trocarAba($event)">
  <ngb-tab id="caixaProcessos">
    <ng-template ngbTabTitle><b>Processos</b></ng-template>
    <ng-template ngbTabContent>
      <fieldset>
        <legend>Atividades/Processos</legend>
        <span>
          <div
            id="div-atividades-processos"
            style="overflow: auto; margin-top: -10px"
            [style.min-height]="calcularMaxHeightFieldset()"
            [style.max-height]="calcularMaxHeightFieldset()"
          >
            <div class="localizador-processo">
              <label
                *ngIf="
                  !caixaTrabalhoUsuario &&
                  !(
                    atividadesProcessos.length == 0 &&
                    equipeSelecionada &&
                    filtroSelecionado &&
                    completouRequisicaoObterAtividades
                  )
                "
                style="display: inline; color: black"
                title="Ao selecionar essa opção, só serão exibidos os processos que não têm responsável no momento (pendendes de distribuição)."
              >
                <input
                  style="display: inline !important; margin-left: 5px"
                  type="checkbox"
                  [(ngModel)]="apenasProcessosSemResponsavel"
                  (change)="obterAtividadesComProcessosSemResponsavel()"
                />
                Exibir apenas processos sem responsável
              </label>
              <input
                class="col-sm-6"
                id="inputLocalizadorCaixa"
                type="text"
                class="form-control"
                title="Localizar um processo na caixa de trabalho da equipe na qual esse processo se encontra. Caso você esteja na visão de usuário e o processo não esteja distribuído para você, então a visão da caixa de trabalho será automaticamente alterada para a visão de equipe."
                placeholder="Localizar Processo"
                [(ngModel)]="processoLocalizar"
                (keydown.enter)="$event.preventDefault(); localizarProcesso()"
              />
              <span class="btn-localizar" (click)="localizarProcesso()"></span>
            </div>

            <div
              class="col-sm-12"
              align="center"
              *ngIf="
                !caixaTrabalhoUsuario &&
                atividadesProcessos.length == 0 &&
                equipeSelecionada &&
                filtroSelecionado &&
                completouRequisicaoObterAtividades
              "
            >
              Esta equipe não possui atividades com processos.
            </div>
            <div
              class="col-sm-12"
              align="center"
              *ngIf="
                caixaTrabalhoUsuario &&
                atividadesProcessos.length == 0 &&
                equipeSelecionada &&
                filtroSelecionado &&
                completouRequisicaoObterAtividades
              "
            >
              Este usuário não possui atividades com processos na equipe
              consultada.
            </div>

            <div
              class="row row-accordion"
              *ngFor="let atividadeProcesso of atividadesProcessos"
            >
              <a
                role="button"
                class="trigger collapsed"
                (click)="toggleAtividade(atividadeProcesso.atividade)"
                name="atividadeAccordion"
              >
                <label class="label-accordion" style="color: gray !important">
                  <img
                    [ngClass]="{
                      'btn-open': atividadeProcesso.collapsed,
                      'btn-close': !atividadeProcesso.collapsed
                    }"
                  />
                  &nbsp;&nbsp;{{
                    atividadeProcesso.atividade.nome
                      ? atividadeProcesso.atividade.nome.toUpperCase()
                      : ""
                  }}
                  <label style="font-weight: bold; color: gray !important"
                    >{{
                      atividadeProcesso.totalizador.visible
                        ? atividadeProcesso.totalizador.toString()
                        : ""
                    }}
                    <span
                      class="btn-totalizador"
                      title="Calcular Totalizadores da Atividade"
                      style="display: inline-block; vertical-align: middle"
                      (click)="
                        $event.stopPropagation();
                        calcularTotalizadores(atividadeProcesso)
                      "
                      *ngIf="!atividadeProcesso.totalizador.visible"
                    ></span>
                    <span
                      class="btn-desfazer"
                      title="Fechar Totalizadores da Atividade"
                      style="display: inline-block; vertical-align: middle"
                      (click)="
                        $event.stopPropagation();
                        reduzirTotalizadores(atividadeProcesso)
                      "
                      *ngIf="atividadeProcesso.totalizador.visible"
                    ></span>
                    <span
                      class="btn-reload"
                      title="Atualizar Processos"
                      style="display: inline-block; vertical-align: middle"
                      (click)="
                        $event.stopPropagation();
                        atualizarProcessos(atividadeProcesso)
                      "
                    >
                    </span>
                  </label>
                </label>
              </a>
              <div id="grid-atividade-{{ atividadeProcesso.atividade.id }}">
                <eprocesso-grid
                  *ngIf="atividadeProcesso.config"
                  [data]="atividadeProcesso.processos"
                  [config]="atividadeProcesso.config"
                  [dataToSelect]="condicaoSelecionarProcessos"
                  [getVisibleRows]="getVisibleRows"
                  (selectedData)="
                    processosSelecionadosChange(atividadeProcesso, $event)
                  "
                  (visibleData)="
                    processosVisiveisChange(atividadeProcesso, $event)
                  "
                  [fetchDataOnDemand]="true"
                  (onTableChange)="
                    obterProcessosDaAtividade(atividadeProcesso, $event)
                  "
                  [filtering]="atividadeProcesso.filtering"
                  [oldTableStyle]="false"
                >
                </eprocesso-grid>
              </div>
            </div>
          </div>
        </span>
      </fieldset>

      <div class="col-sm-9" style="align-items: center; margin-top: 15px">
        <select
          #s
          name="funcionalidade"
          [ngModel]="funcionalidadeSelecionada"
          (ngModelChange)="acessarFuncionalidade(s, $event)"
          class="form-control combo-box"
          style="width: 275px"
        >
          <option
            *ngFor="let funcionalidade of funcionalidades"
            [ngValue]="funcionalidade"
          >
            {{ funcionalidade.nome }}
          </option></select
        >&nbsp;&nbsp;&nbsp;&nbsp;
        <button
          class="btn rfb-btn-orange acessibilidade"
          type="button"
          _ngcontent-c2=""
          *ngIf="!caixaTrabalhoUsuario"
          (click)="autoDistribuir()"
          title="Auto Distribuir"
        >
          Auto Distribuir
        </button>
        <button
          class="btn rfb-btn-orange acessibilidade"
          type="button"
          _ngcontent-c2=""
          *ngIf="!caixaTrabalhoUsuario"
          (click)="distribuir()"
          title="Distribuir"
        >
          Distribuir
        </button>
        <button
          class="btn rfb-btn-orange acessibilidade"
          type="button"
          _ngcontent-c2=""
          (click)="liberar()"
          title="Liberar"
        >
          Liberar
        </button>
        <button
          class="btn rfb-btn-orange acessibilidade"
          type="button"
          _ngcontent-c2=""
          (click)="movimentar()"
          title="Movimentar"
        >
          Movimentar
        </button>
        <button
          class="btn rfb-btn-orange acessibilidade"
          type="button"
          _ngcontent-c2=""
          (click)="redistribuir()"
          title="Redistribuir"
        >
          Redistribuir
        </button>
        <!--button class="btn rfb-btn-orange acessibilidade" type="button" _ngcontent-c2="" (click)="recarregarProcessos()" title="Recarregar Processos">Recarregar Processos</button-->
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="caixaProvidencias">
    <ng-template ngbTabTitle>
      <b
        >Providências&nbsp;<img
          *ngIf="existeProvidenciaEquipe"
          src="../../../assets/images/icons/alerta_amarelo-G.png"
          width="20px"
          height="20px"
      /></b>
    </ng-template>
    <ng-template ngbTabContent>
      <fieldset>
        <legend>Atividades/Providências</legend>
        <span>
          <div
            id="div-atividades-providencias"
            style="overflow: auto; margin-top: -10px"
            [style.min-height]="calcularMaxHeightFieldset()"
            [style.max-height]="calcularMaxHeightFieldset()"
          >
            <div class="localizador-providencia">
              <label
                class="col-sm-6"
                *ngIf="
                  !caixaTrabalhoUsuario &&
                  !(
                    atividadesProvidencias.length == 0 &&
                    equipeSelecionada &&
                    filtroSelecionado &&
                    completouRequisicaoObterAtividadesProv
                  )
                "
                style="display: inline; color: black"
                title="Ao selecionar essa opção, só serão exibidas as providências que não têm responsável no momento (pendendes de distribuição)."
              >
                <input
                  style="margin-left: 5px; display: inline !important"
                  type="checkbox"
                  [(ngModel)]="apenasProcessosSemResponsavel"
                  (change)="obterAtividadesComProvidenciasSemResponsavel()"
                />
                Exibir apenas providências sem responsável
              </label>
              <div
                class="col-sm-6"
                *ngIf="
                  !(
                    atividadesProvidencias.length == 0 &&
                    equipeSelecionada &&
                    filtroSelecionado &&
                    completouRequisicaoObterAtividadesProv
                  )
                "
                style="display: inline; color: black"
              >
                * Colunas com esta marca não representam palavras-chaves do
                processo
              </div>
            </div>

            <div
              class="col-sm-12"
              align="center"
              *ngIf="
                !caixaTrabalhoUsuario &&
                atividadesProvidencias.length == 0 &&
                equipeSelecionada &&
                filtroSelecionado &&
                completouRequisicaoObterAtividadesProv
              "
            >
              Esta equipe não possui atividades com providências.
            </div>
            <div
              class="col-sm-12"
              align="center"
              *ngIf="
                caixaTrabalhoUsuario &&
                atividadesProvidencias.length == 0 &&
                equipeSelecionada &&
                filtroSelecionado &&
                completouRequisicaoObterAtividadesProv
              "
            >
              Este usuário não possui atividades com providências na equipe
              consultada.
            </div>

            <div
              class="row row-accordion"
              *ngFor="let atividadeProvidencia of atividadesProvidencias"
            >
              <a
                role="button"
                class="trigger collapsed"
                (click)="
                  toggleAtividadeProvidencia(atividadeProvidencia.atividade)
                "
                name="atividadeAccordion"
              >
                <label class="label-accordion" style="color: gray !important">
                  <img
                    [ngClass]="{
                      'btn-open': atividadeProvidencia.collapsed,
                      'btn-close': !atividadeProvidencia.collapsed
                    }"
                  />
                  &nbsp;&nbsp;{{
                    atividadeProvidencia.atividade.nome
                      ? atividadeProvidencia.atividade.nome.toUpperCase()
                      : ""
                  }}
                  <label style="font-weight: bold; color: gray !important"
                    >{{
                      atividadeProvidencia.totalizador.visible
                        ? atividadeProvidencia.totalizador.toString()
                        : ""
                    }}
                    <span
                      class="btn-totalizador"
                      title="Calcular Totalizadores da Atividade"
                      style="display: inline-block; vertical-align: middle"
                      (click)="
                        $event.stopPropagation();
                        calcularTotalizadores(atividadeProvidencia, true)
                      "
                      *ngIf="!atividadeProvidencia.totalizador.visible"
                    ></span>
                    <span
                      class="btn-desfazer"
                      title="Fechar Totalizadores da Atividade"
                      style="display: inline-block; vertical-align: middle"
                      (click)="
                        $event.stopPropagation();
                        reduzirTotalizadores(atividadeProvidencia)
                      "
                      *ngIf="atividadeProvidencia.totalizador.visible"
                    ></span>
                    <span
                      class="btn-reload"
                      title="Atualizar Providências"
                      style="display: inline-block; vertical-align: middle"
                      (click)="
                        $event.stopPropagation();
                        atualizarProcessos(atividadeProvidencia, false, true)
                      "
                    >
                    </span>
                  </label>
                </label>
              </a>
              <div id="grid-atividade-{{ atividadeProvidencia.atividade.id }}">
                <eprocesso-grid
                  *ngIf="atividadeProvidencia.config"
                  [data]="atividadeProvidencia.processos"
                  [config]="atividadeProvidencia.config"
                  [dataToSelect]="condicaoSelecionarProcessos"
                  [getVisibleRows]="getVisibleRows"
                  (selectedData)="
                    providenciasSelecionadasChange(atividadeProvidencia, $event)
                  "
                  (visibleData)="
                    providenciasVisiveisChange(atividadeProvidencia, $event)
                  "
                  [fetchDataOnDemand]="true"
                  (onTableChange)="
                    obterProcessosDaAtividade(
                      atividadeProvidencia,
                      $event,
                      'true'
                    )
                  "
                  [filtering]="atividadeProvidencia.filtering"
                  [oldTableStyle]="false"
                >
                </eprocesso-grid>
              </div>
            </div>
          </div>
        </span>
      </fieldset>
      <div class="col-sm-12" style="align-items: center; margin-top: 15px">
        <select
          #s
          name="funcionalidadeProvidencia"
          [ngModel]="funcionalidadeSelecionadaProvidencia"
          (ngModelChange)="acessarFuncionalidadeProvidencia(s, $event)"
          class="form-control combo-box"
          style="width: 250px"
        >
          <option
            *ngFor="let funcionalidadeProvidencia of funcionalidadesProvidencia"
            [ngValue]="funcionalidadeProvidencia"
          >
            {{ funcionalidadeProvidencia.nome }}
          </option></select
        >&nbsp;&nbsp;&nbsp;&nbsp;
        <button
          class="btn rfb-btn-orange"
          type="button"
          _ngcontent-c2=""
          *ngIf="!caixaTrabalhoUsuario"
          (click)="operacaoDestino('autoDistribuir')"
          title="Auto Distribuir Providência"
        >
          Auto Distribuir Provid...
        </button>
        <button
          class="btn rfb-btn-orange"
          type="button"
          _ngcontent-c2=""
          *ngIf="!caixaTrabalhoUsuario"
          (click)="operacaoDestino('distribuir')"
          title="Distribuir Providência"
        >
          Distribuir Provid...
        </button>
        <button
          class="btn rfb-btn-orange"
          type="button"
          _ngcontent-c2=""
          (click)="operacaoDestino('liberar')"
          title="Liberar Providência"
        >
          Liberar Provid...
        </button>
        <button
          class="btn rfb-btn-orange"
          type="button"
          _ngcontent-c2=""
          (click)="operacaoDestino('movimentar')"
          title="Movimentar Destino da Providência"
        >
          Movimentar Provid...
        </button>
        <button
          class="btn rfb-btn-orange"
          type="button"
          _ngcontent-c2=""
          (click)="operacaoDestino('redistribuir')"
          title="Redistribuir Providência"
        >
          Redistribuir Provid...
        </button>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<ng-template #templateModalJuntadosPorApensacao>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      Árvore de apensação do processo
      {{ modalJuntadosPorApensacaoRef.content[0].numeroProcessoPrincipal }}
    </h4>
  </div>
  <div class="modal-body">
    <div
      id="modal-div-juntados-apensacao"
      [style.max-height]="calcularMaxHeightTableHorasEstimadas()"
    >
      <ul>
        <ng-template #recursiveList let-list>
          <li *ngFor="let item of list">
            <link-numero-processo
              style="display: inline-block"
              [numeroProcesso]="item.numeroProcesso"
              [numeroProcessoFormatado]="item.numeroProcessoFormatado"
              [ehSigiloso]="item.indicadorProcessoSigiloso"
              [nivelSigiloInterno]="item.nomeNivelSigiloInterno"
              [ehDossie]="item.indicadorDossie"
            ></link-numero-processo>
            <span style="display: block; padding: 0 15px">
              <b>Contribuinte: </b>{{ item.niContribuinte }}
            </span>
            <span style="display: block; padding: 0 15px">
              <b>Nome Contribuinte: </b>{{ item.nomeContribuinte }}
            </span>
            <span style="display: block; padding: 0 15px">
              <b>ACT/Tema: </b>{{ item.actTema }}
            </span>
            <span style="display: block; padding: 0 15px">
              <b>CPF Responsável: </b>{{ item.cpfResponsavel }}
            </span>
            <span style="display: block; padding: 0 15px">
              <b>Nome Responsável: </b>{{ item.nomeResponsavel }}
            </span>
            <span style="display: block; padding: 0 15px">
              <b>Subtipo: </b>{{ item.subTipo }}
            </span>
            <ul *ngIf="item.processosApensados.length > 0">
              <ng-container
                *ngTemplateOutlet="
                  recursiveList;
                  context: { $implicit: item.processosApensados }
                "
              >
              </ng-container>
            </ul>
          </li>
        </ng-template>
        <ng-container
          *ngTemplateOutlet="
            recursiveList;
            context: { $implicit: modalJuntadosPorApensacaoRef.content }
          "
        >
        </ng-container>
      </ul>
    </div>
  </div>
  <div class="modal-footer text-left">
    <button
      type="button"
      class="btn rfb-btn-orange"
      (click)="modalJuntadosPorApensacaoRef.hide()"
    >
      Fechar
    </button>
  </div>
</ng-template>

<ng-template #columnHeaderTemplatePrioridade let-idDivGrid="data">
  <button class="btn-indicador-prioridade" title="Prioridade"></button>
</ng-template>

<ng-template
  #popoverTemplateHorasEstimadas
  let-atividadeProcesso="data"
  let-popover="popover"
>
  <div class="popover-title">
    <h3 style="margin: 0; font-size: 14px">Hora Estimada na Atividade</h3>
    <span
      class="closePopOver"
      style="position: relative; top: -17px"
      (click)="popover.hide()"
    ></span>
  </div>
  <eprocesso-autocomplete
    [autocomplete]="atividadesConfiguradas"
    [permiteLimpar]="false"
    atributo="nome"
    placeholder="Selecione uma atividade"
    width="500px"
    [shortSize]="true"
    [itemSelecionado]="atividadeProcesso.atividadeFuturaHorasEstimadas"
    (itemSelecionadoChange)="
      atividadeProcesso.atividadeFuturaHorasEstimadasSelecionada = $event
    "
  >
  </eprocesso-autocomplete>
  <div style="text-align: center">
    <button
      class="btn rfb-btn-blue btn-aplicar-filtro"
      type="button"
      title="Aplicar"
      (click)="
        popover.hide();
        atividadeProcesso.atividadeFuturaHorasEstimadas =
          atividadeProcesso.atividadeFuturaHorasEstimadasSelecionada;
        atualizarProcessos(atividadeProcesso, false)
      "
    >
      Filtrar
    </button>
    <button
      class="btn rfb-btn-blue btn-aplicar-filtro"
      type="button"
      title="Remover Filtro"
      (click)="
        popover.hide();
        atividadeProcesso.atividadeFuturaHorasEstimadas = null;
        atualizarProcessos(atividadeProcesso, false)
      "
    >
      Remover Filtro
    </button>
  </div>
</ng-template>

<ng-template #columnHeaderTemplateHorasEstimadas let-idDivGrid="data">
  Horas Estimadas
  <button
    class="btn-horas-estimadas"
    [class.ativa]="aplicarCssHEAtividadeFutura(idDivGrid)"
    (mouseenter)="ocultarTooltipCabecalhoGrid($event, true)"
    (mouseleave)="ocultarTooltipCabecalhoGrid($event, true)"
    [title]="getTooltipBotaoHorasEstimadas(idDivGrid)"
    (click)="ocultarTooltipCabecalhoGrid($event); pop.toggle()"
    [popover]="popoverTemplateHorasEstimadas"
    triggers=""
    #pop="bs-popover"
    [popoverContext]="{
      data: getAtividadeProcessoPopover(idDivGrid),
      popover: pop
    }"
    container="body"
    containerClass="popover-horas-estimadas-caixa-trabalho"
    [outsideClick]="false"
    placement="bottom"
  ></button>
</ng-template>

<ng-template #columnDataTemplateNumeroProcesso let-processoApoio="data">
  <link-numero-processo
    [numeroProcesso]="processoApoio.dadosFixosProcesso.numeroProcesso"
    [numeroProcessoFormatado]="
      processoApoio.dadosFixosProcesso.numeroProcessoFormatado
    "
    [ehSigiloso]="processoApoio.dadosFixosProcesso.indicadorProcessoSigiloso"
    [nivelSigiloInterno]="
      processoApoio.dadosFixosProcesso.nomeNivelSigiloInterno
    "
    [ehDossie]="processoApoio.dadosFixosProcesso.indicadorDossie"
  >
  </link-numero-processo>
  <div *ngIf="processoApoio.dadosFixosProcesso.quantidadeApensados > 0">
    Apensados:&nbsp;
    <a
      style="cursor: pointer"
      (click)="
        abrirModalJuntadosPorApensacao(
          processoApoio,
          templateModalJuntadosPorApensacao
        )
      "
      title="Exibir árvore de apensação"
    >
      {{ processoApoio.dadosFixosProcesso.quantidadeApensados < 10 ? "0" : ""
      }}{{ processoApoio.dadosFixosProcesso.quantidadeApensados }}
    </a>
    <button
      *ngIf="!exibirApensados"
      style="vertical-align: text-bottom !important"
      [ngClass]="{
        'btn-open': !processoApoio.processoExpandido,
        'btn-close': processoApoio.processoExpandido
      }"
      title="{{
        processoApoio.processoExpandido ? 'Contrair ' : 'Expandir '
      }}apensados (apensação direta)"
      (click)="toggleApensados(processoApoio)"
    ></button>
  </div>
</ng-template>

<ng-template #columnDataTemplateLote let-processoApoio="data">
  <input
    *ngIf="processoApoio.dadosFixosProcesso.idLoteAtual"
    type="checkbox"
    id="checkbox-lote-{{
      processoApoio.dadosFixosProcesso.equipeAtividadeAtual.id
    }}-{{ processoApoio.dadosFixosProcesso.idLoteAtual }}"
    (change)="
      condicaoSelecionarProcessos = checkboxLoteChange(processoApoio, $event)
    "
    style="
      margin: 0px !important;
      vertical-align: middle;
      position: relative;
      top: -1px;
      cursor: pointer;
    "
  />
  <link-lote
    *ngIf="processoApoio.dadosFixosProcesso.idLoteAtual"
    [idLote]="processoApoio.dadosFixosProcesso.idLoteAtual"
    [nomeLote]="processoApoio.nomeLoteAtual"
    [apenasVisualizacao]="false"
  >
  </link-lote>
</ng-template>

<ng-template #columnDataTemplatePrioridade let-processoApoio="data">
  <button
    *ngIf="processoApoio.dadosFixosProcesso.indicadorPrioridade == '3'"
    class="btn-indicador-prioridade-maxima tooltipPrioridade"
    [tooltip]="
      'Motivo da Prioridade: ' +
      processoApoio.dadosFixosProcesso.motivoPrioridade
    "
    style="white-space: normal !important; text-align: left"
  ></button>
  <button
    *ngIf="processoApoio.dadosFixosProcesso.indicadorPrioridade == '2'"
    class="btn-indicador-prioridade-alta tooltipPrioridade"
    [tooltip]="
      'Motivo da Prioridade: ' +
      processoApoio.dadosFixosProcesso.motivoPrioridade
    "
    style="white-space: normal !important; text-align: left"
  ></button>
  <button
    *ngIf="processoApoio.dadosFixosProcesso.indicadorPrioridade == '1'"
    class="btn-indicador-prioridade-media tooltipPrioridade"
    [tooltip]="
      'Motivo da Prioridade: ' +
      processoApoio.dadosFixosProcesso.motivoPrioridade
    "
    style="white-space: normal !important; text-align: left"
  ></button>
</ng-template>

<ng-template #columnDataTemplateInformacoes let-processoApoio="data">
  <button
    class="btn-icon"
    title="Consultar Palavra-Chave do Processo"
    (click)="consultarPalavraChave(processoApoio)"
  >
    <i class="fas fa-info-circle icon"></i>
  </button>
  <button
    class="btn-icon"
    title="Consultar Histórico do Processo"
    (click)="consultarHistorico(processoApoio)"
  >
    <i class="fas fa-calendar icon"></i>
  </button>
  <button
    class="btn-icon"
    title="Consultar/Realizar Juntada/Vínculo do Processo"
    (click)="consultarJuntada(processoApoio)"
  >
    <i class="fas fa-link icon"></i>
  </button>
</ng-template>

<ng-template #columnDataTemplateIndicadores let-processoApoio="data">
  <div class="d-flex">
    <button
      *ngIf="
        processoApoio.dadosFixosProcesso.indicadorAutenticacaoAssinaturaPendente
      "
      class="btn-icon icon-not-clickable"
      title="Confirmação ou Autenticação ou Assinatura Pendente"
    >
      <i class="fas fa-file-signature icon"></i>
    </button>
    <button
      *ngIf="
        !processoApoio.dadosFixosProcesso
          .indicadorCadastroEfetivadoSIEFProcessos &&
        !processoApoio.dadosFixosProcesso.indicadorDossie
      "
      class="btn-icon icon-not-clickable"
      title="Cadastro não efetivado no SIEF-Processos"
    >
      <i class="fas fa-database icon"></i>
    </button>
    <button
      *ngIf="processoApoio.dadosFixosProcesso.indicadorCienciaPendente"
      class="btn-icon icon-not-clickable"
      title="Ciência Pendente"
    >
      <i class="far fa-envelope icon"></i>
    </button>
    <button
      *ngIf="processoApoio.dadosFixosProcesso.indicadorManifestacaoPendente"
      class="btn-icon icon-not-clickable"
      title="Manifestação Pendente"
    >
      <i class="far fa-envelope-open icon"></i>
    </button>
    <button
      *ngIf="
        processoApoio.dadosFixosProcesso
          .indicadorConfirmacaoDistribuicaoPendente
      "
      class="btn-indicador-distribuicao btn-not-clickable"
      title="Confirmação de Recebimento Pendente"
    ></button>
    <button
      *ngIf="processoApoio.dadosFixosProcesso.indicadorProcessoHibrido"
      class="btn-indicador-hibrido btn-not-clickable"
      title="Processo Papel Híbrido"
    ></button>
    <button
      *ngIf="processoApoio.dadosFixosProcesso.indicadorNotaProcesso"
      class="btn-icon"
      title="Existe Nota de Processo"
      (click)="listarNotasProcesso(processoApoio)"
    >
      <i class="fas fa-sticky-note icon"></i>
    </button>
    <button
      *ngIf="
        processoApoio.dadosFixosProcesso
          .indicadorProvidenciacomPendenciaAtiva &&
        !processoApoio.dadosFixosProcesso.alertaProvidenciaComPrazo &&
        !processoApoio.dadosFixosProcesso.alertaProvidenciaPrazoExpirado
      "
      class="btn-icon"
      title="Existe Pendência de Providência"
      (click)="consultarProvidencias(processoApoio)"
    >
      <br-icon icon-name="fa6-solid:clipboard-list" class="mx-0 icon"></br-icon>
    </button>
    <button
      *ngIf="
        processoApoio.dadosFixosProcesso.alertaProvidenciaComPrazo &&
        !processoApoio.dadosFixosProcesso.alertaProvidenciaPrazoExpirado
      "
      class="btn-icon"
      title="Existe Pendência de Providência com Prazo"
      (click)="consultarProvidencias(processoApoio)"
    >
      <i class="fa-time-custom-blue icon"></i>
    </button>
    <button
      *ngIf="processoApoio.dadosFixosProcesso.alertaProvidenciaPrazoExpirado"
      class="btn-icon"
      title="Existe Pendência de Providência com Prazo Expirado"
      (click)="consultarProvidencias(processoApoio)"
    >
      <i class="fa-alert-custom-blue icon"></i>
    </button>
    <button
      *ngIf="
        processoApoio.dadosFixosProcesso.indicadorSolicitacaoJuntadaPendente
      "
      class="btn-icon"
      title="Existe Pendência de Solicitação de Juntada"
      (click)="consultarIndicadorSolicitacaoJuntada(processoApoio)"
    >
      <i class="fas fa-folder icon"></i>
    </button>
    <button
      *ngIf="
        processoApoio.dadosFixosProcesso
          .indicadorResponsavelSolidarioSubsidiario
      "
      class="btn-icon"
      title="Existe Responsável Solidário/Subsidiário"
      (click)="consultarIndicadorSolidario(processoApoio)"
    >
      <i class="fas fa-handshake icon"></i>
    </button>
    <button
      *ngIf="processoApoio.dadosFixosProcesso.indicadorSigiloExternoInteressado"
      class="btn-icon"
      [title]="getTooltipSigiloExterno(processoApoio)"
      (click)="definirNivelSigilo(processoApoio)"
    >
      <br-icon icon-name="fa6-solid:lock" class="mx-0 icon"></br-icon>
    </button>
    <button
      *ngIf="processoApoio.dadosFixosProcesso.indicadorParadigmaRepetitivo"
      class="btn-icon icon-not-clickable"
      title="Indicador de processo paradigma de repetitivo, ou seja, de processo que é julgado isoladamente como representante de um agrupamento de processos."
    >
      <br-icon icon-name="fa6-solid:repeat" class="mx-0 icon"></br-icon>
    </button>
  </div>
</ng-template>

<ng-template #columnDataTemplateAtividade let-processoApoio="data">
  {{ processoApoio.dadosFixosProcesso.nomeAtividadeAtual }} ({{
    processoApoio.dadosFixosProcesso.quantidadeDiasAtividade
  }}
  dia{{
    processoApoio.dadosFixosProcesso.quantidadeDiasAtividade != 0 ? "s" : ""
  }})
</ng-template>

<ng-template #columnDataTemplateIndicadorDossie let-processoApoio="data">
  {{ processoApoio.indicadorDossie ? "Sim" : "Não" }}
</ng-template>

<ng-template #columnDataTemplateHorasEstimadas let-processoApoio="data">
  <span [style.color]="aplicarCssHorasEstimadas(processoApoio) ? 'red' : ''">{{
    processoApoio.qtdHorasEstimadas
  }}</span>
</ng-template>

<div
  class="modal fade"
  bsModal
  #modalPerguntaAlteracaoTipoSubtipoProcessoDossieOuSief="bs-modal"
  role="dialog"
  [config]="{ ignoreBackdropClick: true }"
>
  <div class="modal-dialog">
    <div class="modal-content" style="min-width: 637px">
      <div class="modal-header">
        <h3 class="modal-title">
          Escolha quais processos terão o tipo/subtipo alterado
        </h3>
      </div>
      <div class="modal-body">
        <span
          >Foram selecionados processos SIEF e processos dossiês. Não é possível
          alterar o tipo/subtipo de ambos ao mesmo tempo.</span
        >
        <br /><br />
        <span>O que deseja fazer?</span>
      </div>
      <div class="modal-footer">
        <button
          class="btn rfb-btn-orange"
          type="button"
          (click)="alterarProcessosSief()"
        >
          Alterar somente processos SIEF
        </button>
        <button
          class="btn rfb-btn-orange"
          type="button"
          (click)="alterarProcessosDossies()"
        >
          Alterar somente processos dossiês
        </button>
        <button
          class="btn rfb-btn-orange"
          type="button"
          (click)="
            cancelarModalPerguntaAlteracaoTipoSubtipoProcessoDossieOuSief()
          "
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  bsModal
  #modalAlterarRelator="bs-modal"
  role="dialog"
  [config]="{ ignoreBackdropClick: true }"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Alterar Relator</h3>
      </div>
      <div class="modal-body">
        <span
          >Para o(s) processo(s) selecionado(s), existe(m) um ou mais com
          Relator atribuído. Deseja alterar o Relator deste(s)?</span
        >
      </div>
      <div class="modal-footer">
        <button
          class="btn rfb-btn-orange"
          type="button"
          (click)="fecharModalAlterarRelator(true)"
        >
          Sim
        </button>
        <button
          class="btn rfb-btn-orange"
          type="button"
          (click)="fecharModalAlterarRelator(false)"
        >
          Não
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #templateModalLocalizadorProcesso>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      Localizar Processo na Caixa de Trabalho
    </h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRefLocalizadorProcesso.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="modalRefLocalizadorProcesso.content?.localizacao">
      <span style="display: block"
        >O processo está localizado na equipe/atividade a seguir:</span
      >
      <span style="display: block">Equipe</span>
      <span style="display: block">{{
        modalRefLocalizadorProcesso.content.localizacao.equipe
      }}</span>
      <br />
      <span style="display: block">Atividade</span>
      <span style="display: block">{{
        modalRefLocalizadorProcesso.content.localizacao.atividade
      }}</span>
      <br />
      <span style="display: block">Responsável</span>
      <span style="display: block">{{
        modalRefLocalizadorProcesso.content.localizacao.responsavel
      }}</span>
      <br />
      <span style="display: block">Observação:</span>
    </div>
    <span>{{ modalRefLocalizadorProcesso.content?.mensagemValidacao }}</span>
  </div>
  <div class="modal-footer text-center">
    <button
      *ngIf="
        modalRefLocalizadorProcesso.content &&
        modalRefLocalizadorProcesso.content.visualizarProcesso
      "
      class="btn rfb-btn-blue"
      type="button"
      (click)="
        visualizarProcesso(modalRefLocalizadorProcesso.content.numeroProcesso)
      "
    >
      Visualizar Processo
    </button>
  </div>
</ng-template>

<ng-template #columnDataTemplateGrauSimilaridade let-processoApoio="data">
  {{ retornaGrauSimilaridade(processoApoio.grauSimilaridadeAgrupamento) }}
</ng-template>

<ng-template
  #columnDataTemplateQuantidadeProcessosAgrupamento
  let-processoApoio="data"
>
  {{
    retornaQuantidadeNumeroProcessoAgrupamento(
      processoApoio.quantidadeProcessosAgrupamento
    )
  }}
</ng-template>

<ng-template #columnDataTemplatePrioridadeProvidencia let-processoApoio="data">
  <button
    *ngIf="processoApoio.indicadorPrioridade == '3'"
    class="btn-indicador-prioridade-maxima tooltipPrioridade"
    [tooltip]="'Motivo da Prioridade: ' + processoApoio.motivoPrioridade"
    style="white-space: normal !important; text-align: left"
  ></button>
  <button
    *ngIf="processoApoio.indicadorPrioridade == '2'"
    class="btn-indicador-prioridade-alta tooltipPrioridade"
    [tooltip]="'Motivo da Prioridade: ' + processoApoio.motivoPrioridade"
    style="white-space: normal !important; text-align: left"
  ></button>
  <button
    *ngIf="processoApoio.indicadorPrioridade == '1'"
    class="btn-indicador-prioridade-media tooltipPrioridade"
    [tooltip]="'Motivo da Prioridade: ' + processoApoio.motivoPrioridade"
    style="white-space: normal !important; text-align: left"
  ></button>
</ng-template>

<ng-template #columnDataTemplateInformacoesProvidencia let-processoApoio="data">
  <button
    class="btn-icon"
    title="Consultar Palavra-Chave do Processo"
    (click)="consultarPalavraChaveProvidencia(processoApoio)"
  >
    <i class="fas fa-info-circle icon"></i>
  </button>
  <button
    class="btn-icon"
    title="Consultar Histórico do Processo"
    (click)="consultarHistoricoProvidencia(processoApoio)"
  >
    <i class="fas fa-calendar icon"></i>
  </button>
  <button
    class="btn-icon"
    title="Consultar/Realizar Juntada/Vínculo do Processo"
    (click)="consultarJuntadaProvidencia(processoApoio)"
  >
    <i class="fas fa-link icon"></i>
  </button>
</ng-template>

<ng-template #columnDataTemplateIndicadoresProvidencia let-processoApoio="data">
  <div class="d-flex">
    <button
      *ngIf="processoApoio.indicadorAutenticacaoAssinaturaPendente"
      class="btn-icon"
      title="Confirmação ou Autenticação ou Assinatura Pendente"
    >
      <i class="fas fa-file-signature icon"></i>
    </button>
    <button
      *ngIf="
        !processoApoio.indicadorCadastroEfetivadoSIEFProcessos &&
        !processoApoio.indicadorDossie
      "
      class="btn-icon"
      title="Cadastro não efetivado no SIEF-Processos"
    >
      <i class="fas fa-database icon"></i>
    </button>
    <button
      *ngIf="processoApoio.indicadorCienciaPendente"
      class="btn-icon"
      title="Ciência Pendente"
    >
      <i class="far fa-envelope icon"></i>
    </button>
    <button
      *ngIf="processoApoio.indicadorManifestacaoPendente"
      class="btn-indicador-manifestacao"
      title="Manifestação Pendente"
    >
      <i class="far fa-envelope-open icon"></i>
    </button>
    <button
      *ngIf="processoApoio.indicadorConfirmacaoDistribuicaoPendente"
      class="btn-indicador-distribuicao"
      title="Confirmação de Recebimento Pendente"
    ></button>
    <button
      *ngIf="processoApoio.indicadorProcessoHibrido"
      class="btn-indicador-hibrido"
      title="Processo Papel Híbrido"
    ></button>
    <button
      *ngIf="processoApoio.indicadorNotaProcesso"
      class="btn-icon"
      title="Existe Nota de Processo"
      (click)="listarNotasProcesso(processoApoio)"
    >
      <i class="fas fa-sticky-note icon"></i>
    </button>
    <button
      *ngIf="
        processoApoio.indicadorProvidenciaPendente &&
        !processoApoio.indicadorProvidenciacomPrazo &&
        !processoApoio.indicadorProvidenciacomPrazoExpirado
      "
      class="btn-icon"
      title="Existe Pendência de Providência"
      (click)="consultarProvidenciasProvidencia(processoApoio)"
    >
      <br-icon icon-name="fa6-solid:clipboard-list" class="mx-0 icon"></br-icon>
    </button>
    <button
      *ngIf="
        processoApoio.indicadorProvidenciacomPrazo &&
        !processoApoio.indicadorProvidenciacomPrazoExpirado
      "
      class="btn-icon"
      title="Existe Pendência de Providência com Prazo"
      (click)="consultarProvidenciasProvidencia(processoApoio)"
    >
      <i class="fa-time-custom-blue icon"></i>
    </button>
    <button
      *ngIf="processoApoio.indicadorProvidenciacomPrazoExpirado"
      class="btn-icon"
      title="Existe Pendência de Providência com Prazo Expirado"
      (click)="consultarProvidenciasProvidencia(processoApoio)"
    >
      <i class="fa-alert-custom-blue icon"></i>
    </button>
    <button
      *ngIf="processoApoio.indicadorSolicitacaoJuntadaPendente"
      class="btn-icon"
      title="Existe Pendência de Solicitação de Juntada"
      (click)="consultarIndicadorSolicitacaoJuntadaProvidencia(processoApoio)"
    >
      <i class="fas fa-folder icon"></i>
    </button>
    <button
      *ngIf="processoApoio.indicadorResponsavelSolidarioSubsidiario"
      class="btn-icon"
      title="Existe Responsável Solidário/Subsidiário"
      (click)="consultarIndicadorSolidarioProvidencia(processoApoio)"
    >
      <i class="fas fa-handshake icon"></i>
    </button>
    <button
      *ngIf="processoApoio.indicadorSigiloExterno"
      class="btn-icon"
      title="Sigilo Inibir Visualização Externa (Interessado e Responsável Solidário/Subsidiário)"
      (click)="definirNivelSigiloProvidencia(processoApoio)"
    >
      <br-icon icon-name="fa6-solid:lock" class="mx-0 icon"></br-icon>
    </button>
  </div>
</ng-template>

<ng-template
  #columnDataTemplateNumeroProcessoProvidencia
  let-processoApoio="data"
>
  <link-numero-processo
    [numeroProcesso]="processoApoio.numeroProcesso"
    [numeroProcessoFormatado]="processoApoio.numeroProcessoFormatado"
    [ehSigiloso]="processoApoio.indicadorProcessoSigiloso"
    [nivelSigiloInterno]="processoApoio.nomeNivelSigiloInterno"
    [ehDossie]="processoApoio.ehDossie"
  >
  </link-numero-processo>
</ng-template>

<ng-template #columnDataTemplateLoteProvidencia let-processoApoio="data">
  <input
    *ngIf="processoApoio.idLoteAtual"
    type="checkbox"
    id="checkbox-lote-{{ processoApoio.nomeAtividadeAtual }}-{{
      processoApoio.idLoteAtual
    }}"
    (change)="
      condicaoSelecionarProcessos = checkboxLoteChangeProvidencia(
        processoApoio,
        $event
      )
    "
    style="
      margin: 0px !important;
      vertical-align: middle;
      position: relative;
      top: -1px;
      cursor: pointer;
    "
  />
  <link-lote
    *ngIf="processoApoio.idLoteAtual"
    [idLote]="processoApoio.idLoteAtual"
    [nomeLote]="processoApoio.nomeLoteAtual"
    [apenasVisualizacao]="false"
  >
  </link-lote>
</ng-template>

<ng-template
  #columnHeaderTemplateHorasEstimadasProvidencia
  let-idDivGrid="data"
>
  Horas Estimadas Providência*
</ng-template>

<ng-template #columnDataTemplateAtividadeProvidencia let-processoApoio="data">
  {{ processoApoio.nomeAtividadeAtual }}
</ng-template>

<div
  class="modal fade"
  bsModal
  #modalIncluirNota="bs-modal"
  role="dialog"
  [config]="{ ignoreBackdropClick: true }"
>
  <incluir-nota-multiplos-processos
    [processos]="processosSelecionados"
    (cancelar)="this.modalIncluirNota.hide()"
    (alterar)="incluirNota($event)"
  ></incluir-nota-multiplos-processos>
</div>
